* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 2px solid black;
}

h1 {
    background-color: antiquewhite;
    padding: 1.25rem 4.17rem;
    margin: 0;
    letter-spacing: .5em;
}

main {
  width: 95%;
  border: 1px solid blue;
  margin: 0 auto 1em auto;
}
#color-picker {
    width: 68px;
    height: 68px;
    border-radius: 6px;
}

#dropdown {
    font-weight: 400;
    font-size: 16px;
    width: 312px;
    padding: 10px 10px;

}

#dropdown, .submit-btn {
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 15px;
   cursor: pointer;

}

.submit-btn {
    width: 125px;
    color: #374151;
    padding: 20px 10px;
   
}

.controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto)); 
    margin: 10px 0;
    grid-row-gap: .5em;
    grid-column-gap: 20px;
   align-items: center;
   justify-content: start;
   border: 1px solid red;
}

.show-colors {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  
}
.color-box {
/*   background-color: red; */
  border: 1px solid black; 
  width: 100%;
 
  height:10vh; 
  position: relative;
}

.color-text {
  position: absolute;
  /* text-shadow: 2px -2px 3px white; */  
  bottom: .5em;
  left: 1.4em;
}

.picker-container {
  display: flex;
  align-items: center;
}

.picker-label {
  font-size: 1.5em;
  font-weight: 400;
  padding-left: 1em;
}
